@media (max-width: 960px) {
  .column2, .column3 {
    width: 100%;
    float: none;
    display: block;
  }  
}

@media (max-width: 640px) {
  .col3-4, .col1-4 {
    width: 100%;
    float: none;
    display: block;
  }  
}