@media (max-width: 48.25em) {
      /* grid */
      .row {
        width: 85%;
      }
      .column2, .column3 {
        width: 100%;
        float: none;
        display: block;
      }
      .featured {
        margin: 0 auto;
      }

      nav li a {
        padding: 20px;
        border-width: 0.5px;
      }
      .logo img {
        padding-top: 5.5px;
        height: 45px;
      }

      .article-thumb {
        height: 200px;
        padding: 0;
      }
}

@media (max-width: 640px) {
  .col3-4, .col1-4 {
    width: 100%;
    float: none;
    display: block;
  }  
}

    @media screen and (min-width: 48.25em) {
      /* collapsible menu */
      nav.respmenu {
         display: none;
         bottom: 0;
      }
      .js nav[role=navigation] {
        max-height: none;
      }
    }