@media (max-width: 960px) {
  .row {
    width: 90%;
  }
  .column2, .column3 {
    width: 100%;
    float: none;
    display: block;
  }  
}

@media (max-width: 640px) {
  .col3-4, .col1-4 {
    width: 100%;
    float: none;
    display: block;
  }  
}

    @media screen and (min-width: 48.25em) {
      a.menu-link, a.resplogo {
         display: none;
      }
      .js nav[role=navigation] {
        max-height: none;
      }
      nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }
      
      nav[role=navigation]  li {
        display: inline-block;
        margin: 0 0.25em;
      }
      nav[role=navigation] li a {
        border: 0;
      }
    }