/* colors, spaces, utilities */

@import url("./fonts/merriweather/merriweather.css");
@import url("./fonts/opensans/opensans.css");
@import url("./fonts/fontawesome/css/font-awesome.min.css");
@import "compass";

.mask {
  z-index: 10;
  @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(240,240,240,1) 85%,rgba(240,240,240,1) 100%));
}

$grey: #f0f0f0;
$green: #b4ff11;
$blue: #172d43;
$teal: #2489a5;

$double_space: 2.500em;
$half_space: 0.625em;
$space: 1.250em;

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
  margin: 0 auto;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* grid */
.row {
  width: 70%;
}

.container {
  width: 100%;
}

.col3-4 {
  width: 70%;
}

.col1-4 {
  width: 20%;
  img {
    width: 100%;
  }
}

.column2, .column3, .col1-4, .col3-4 {
  float: left;
}

.column2 {
  width: 47%;
  &:nth-child(1){
    margin-right: $double_space;
  }
}

.column3 {
  width: 33%;
}

/* basic typography */
h1, h2, h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 200%;
  font-weight: 700;
  padding: $half_space 0;
}

nav li, footer li {
  display: inline-block;
  position: relative;
  list-style: none;
}

nav li.icons {
  border-right: 1px $grey solid;
  border-left: 1px $grey solid;
}

p {
  line-height: 2em;
  font-family: 'Merriweather', 'Times New Roman', serif;
}

h3 {
  font-weight: 700;
  text-indent: 3em;
  padding: 40px 0 20px 0;
}

/* nav header */
.nav-container {
  border-bottom: 1px solid $grey;
}

nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  li {
    a {
      display: table-cell;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: 700;
      color: $blue;
      text-decoration: none;
      padding: $double_space;
      &:hover {
        background: $green;
      }
    }
  }
  i {
    font-size: 100%;
  }
}

.logo, .resplogo {
  padding: 0;
  img {
    height: 95px;
  }
}

a.menu-link {
  float: right;
  padding: $double_space;
}

nav[role=navigation] {
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

nav[role=navigation].active {
      max-height: 15em;
    }

/* jumbo */
.jumbo {
  width: 100%;
  &.index {
    color: white;
    background-image: url(../images/jumbo_bg.jpg);  
  } 
  &.about {
    h1 {
      font-weight: 400;
    }
    background-image: url(../images/about_bg.png);
  } 
  background-position: middle center;
  background-size: cover;
  .featured {
    padding: 100px 0;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* article */
.articles {
  padding: $double_space 0;
  background: $grey;
}

.article-thumb {
  position: relative;
  height: 300px;
  overflow: hidden;
  h1 {
    font-size: 160%;
    a {
      color: black;
      text-decoration: none;
      &:hover{
        color: $teal;
        text-decoration: underline;
      }
    }
  }
  p {
    padding: 0;
    font-size: 80%
  }
  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .mask {
    height: 80%;
  }
  article {
    width: 90%;
  }
}

date {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 90%;
}


article {
  padding-bottom: $double_space;
  h1 {
    color: $teal;
    padding-bottom: $half_space;
  }
  h2 {
    padding: $double_space 0 $half_space 0;
    margin-bottom: $space;
    font-style: italic;
    border-bottom: 2px $grey solid;
  }
  ul{
    font-family: 'Merriweather', 'Times New Roman', serif;
  }
  a {
    color: $teal;
    line-height: 2em;
  }
  p {
    padding-bottom: $space;
  }
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid $grey;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
  }
}

.bio{
  h1 {
    padding: 0;
    line-height: 1em;
    color: black;
    font-weight: 400;
  }
  h2 {
    border: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  margin: 0 0 0 $double_space;

}

#disqus_thread  {
  margin-bottom: $space;
}

/* about */
.facepanel {
  width: 100%;
}



/* footer */
footer{
  padding-right: $double_space;
  background: $blue;
  color: white;
  h1 {
    font-size: 120%;
    margin: $half_space 0 0 0;
  }
  ul {
    border-bottom: $grey 2px;
  }
  a {
    color: $green;
    display: inline-block;
    &.icon {
      padding: $half_space $double_space $space 0;
      text-decoration: none;
    }
  }
  input {
    width: 65%;
    margin: $space 0;
    padding: $half_space;
    font-style: italic;
    font-family: 'Merriweather', 'Times New Roman', serif;
  }
  section {
    margin-bottom: $space;
  }
  p {
    margin: 0;
    font-size: 90%;
  }
}

/* media */
.youtube-player { 
    display: block;
    width:100%;
    height: 400px;
}

.soundcloud-player {
  width: 100%;
  height: 166px;
}

/** CLEAR FIX
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}