<div class="column3 article-thumb">
  <div class="mask">
  </div>
  <article>
    <h1 class="truncate"><%= link_to article.title.upcase, article.path %></h1>
    <date><%= article.date.strftime('%D') %></date>
    <p><%= truncate(lorem.paragraph, :length=>200) %></p>
  </article>
</div>