<footer class="cf">
  <div class="row center">
    <div class="column2">
      <section>
        <h1>FOLLOW THE SHOW</h1>
        <div>
          <ul>
            <li><a target="_blank" class="icon" href="https://twitter.com/TDistributed"><i class="icon-social-twitter"></i></a></li>
            <li><a target="_blank" class="icon" href="https://itunes.apple.com/us/podcast/consensus/id674648919?i=162684095"><i class="icon-ios7-musical-notes"></i></a></li>
            <li><a target="_blank" class="icon" href="http://feeds.soundcloud.com/users/50980903-thinkdistributedio/tracks"><i class="icon-social-rss"></i></a></li>
            <li><a target="_blank" class="icon" href="https://soundcloud.com/thinkdistributedio"><i class="icon-ios7-cloudy"></i></a></li>
          </ul>
        </div>
        <p>Join us in #thinkdistributed on Freenode for live discussions.</p>
      </section>
    </div>
    <div class="column2">
      <section>
        <h1>HAVE A QUESTION?</h1>
        <p>Get in touch via twitter <a href="http://twitter.com/TDistributed" target="_blank">@TDistributed</a> or contact the host <a href="http://twitter.com/cmeik" target="_blank">@cmeik</a>.
      </section>
      <section>
        <h1>LICENSE AND COPYRIGHT</h1>
        <p>The audio and video is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License.</a></p>
        <p>Site and logo design by <a href="#" target="_blank">Ansa Copeland</a>.</p>
        <p>(C) 2013 Christopher Meiklejohn</p>
      </section>
    </div>
  </div>
</footer>
