<div class="jumbo">
  <div class="featured row center">
    <h1>CONSENSUS</h1>
    <p>A discussion about the problem of consensus in distributed computing, focusing on the Raft algorithm developed by Diego Ongaro and John Ousterhout at Stanford University/</p>
  </div>
</div>