  <nav class="row center cf">
    <a href="/"><%= image_tag 'logo.png', :class=>'logo' %></a>
    <ul class="pull-left">
      <li><a href="/about.html">ABOUT THE SHOW</a></li>
    </ul>
      <ul class="pull-right">
        <li><a target="_blank" href="https://twitter.com/TDistributed"><i class="icon-social-twitter"></i></a></li>
        <li><a target="_blank" href="http://feeds.soundcloud.com/users/50980903-thinkdistributedio/tracks"><i class="icon-social-rss"></i></a></li>
      </ul>
  </nav>