  <nav class="row center cf">
    <a href="/"><%= image_tag 'logo.png', :class=>'logo' %></a>
    <ul class="pull-left">
      <li><a href="/about.html">ABOUT THE SHOW</a></li>
    </ul>
      <ul class="pull-right">
        <li><a href="#"><i class="icon-social-twitter" data-pack="social" data-tags="follow, post, share"></i></a></li>
        <li><a href="#"><i class="icon-social-rss" data-pack="social" data-tags="blogging"></i></a></li>
      </ul>
  </nav>