  <nav class="row center cf">
    <a href="/"><%= image_tag 'logo.png', :class=>'logo' %></a>
    <ul class="pull-left">
      <li><a href="#">ABOUT THE SHOW</a></li>
    </ul>
      <ul class="pull-right">
        <li>twitter</li>
        <li>rss</li>
      </ul>
  </nav>