<nav class="cf">
  <div class="navbar-inner row center">
    <div class="logo">
      <a href="/"><%= image_tag 'logo.png' %></a>
    </div>
    <ul>
      <li><a href="#">ABOUT THE SHOW</a></li>
    </ul>
    <div class="pull-right">
      <ul>
        <li>twitter</li>
        <li>rss</li>
      </ul>
    </div>
  </div>
</nav>