<nav class="cf">
  <div class="navbar-inner row">
    <div class="logo">
      <a href="/"><%= image_tag 'logo.png' %></a>
    </div>
    <ul>
      <li>ABOUT THE SHOW</li>
    </ul>
  </div>
  <div class="pull-right">
    <ul>
      <li>twitter</li>
      <li>rss</li>
    </ul>
  </div>
</nav>