<li class="cf">
    <div class="col1-4">
      <img src="/images/chris-headshot.png"/> 
    </div>
    <div class="col3-4 bio">
      <h1><%= member[:name] %>, <a href="http://twitter.com/pbailis"><i class="icon-social-twitter"></i></a></h1>
      <h2><%= member[:title] %></h2>
      <p><%= lorem.paragraph %></p>
    </div>
  </li>  