---
title: Causality
date: 2013-08-28
tags: causality, vector clocks, version vectors
---

:markdown

  A discussion of causality, vector clocks, version vectors, and CRDTs.

READMORE

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F108665351"></iframe>

<iframe class="youtube-player" width="640" height="360" src="//www.youtube.com/embed/fZFYAeFv7Ks" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

%h2 Panel
- panel = [{:name=> "Christopher Meiklejohn", :title=> "Software Engineer at Basho Technologies", :twitter=>"cmeik"}, {:name=> "Peter Bailis", :title=> "Graduate Student at UC Berkeley", :twitter=>"pbailis"}, {:name=> "Carlos Baquero", :title=> "HASLab, INESC Tec and Universidade do Minho", :twitter=>"xmal"}, {:name=> "Marek Zawirski", :title=> "Graduate Student at UPMC-LIP6 / INRIA Paris", :twitter=>"zzzawir"}]

%ul
  - panel.each do |member|
    = partial "layouts/panel_member", :locals=>{:member => member}

:markdown
  ## Show Notes

  * [Time, clocks, and the ordering of events in a distributed system](http://dl.acm.org/citation.cfm?id=359563)
  * [Vector clock](http://en.wikipedia.org/wiki/Vector_clock)
  * [Version vector](http://en.wikipedia.org/wiki/Version_vector)
  * [Partially ordered set](http://en.wikipedia.org/wiki/Partially_ordered_set)
  * [Total order](http://en.wikipedia.org/wiki/Total_order)
  * [Lamport timestamps](http://en.wikipedia.org/wiki/Lamport_timestamps)
  * [Happened-Before Relation](http://en.wikipedia.org/wiki/Happened-before)
  * [Dynamo: Amazon's Highly Available Key-value Store](http://www.read.seas.harvard.edu/~kohler/class/cs239-w08/decandia07dynamo.pdf)
  * [A comprehensive study of Convergent and Commutative Replicated Data Types](http://hal.inria.fr/inria-00555588/)
  * [Dotted Version Vectors](http://gsd.di.uminho.pt/members/vff/dotted-version-vectors-2012.pdf)
  * [Detecting Causal Relationships in Distributed Computations: In Search of the Holy Grail](http://www.vs.inf.ethz.ch/publ/papers/holygrail.pdf)
  * [Optimistic Replication](http://www.ysaito.com/survey.pdf)
  * [The Potential Dangers of Causal Consistency and an Explicit Solution](http://www.bailis.org/papers/explicit-socc2012.pdf)
  * [Understanding the Limitations of Causally and Totally Ordered Communication](http://cs3.ist.unomaha.edu/~stanw/papers/93-catocs.pdf)
  * [A Response to Cheriton and Skeen's Criticism of Causal and Totally Ordered Communication](http://www.cs.princeton.edu/courses/archive/fall07/cos518/papers/catocs-limits-response.pdf)
  * [Do you even know how vector clocks work? shirt](http://teespring.com/doyouevenknow3)
