<div class="jumbo about">
  <div class="featured row center">
    <h1>Think Distributed</h1>
    <p>Think Distributed is a monthly podcast focusing on distributed systems research in academia and industry.  Our main goal is to help make this research more accessible to beginners and to provide deep technical dives monthly on a particular area of distributed systems research.</p>
  </div>
</div>
<div id="main" role="main" class="center row">
  <div class="team">
    <h3>MEET THE TEAM</h3>
    <article>
      <img class="facepanel" src="images/chris.jpg"/>
      <h1>Christopher Meiklejohn</h1>
      <h2>Founder & Show Host</h2>
      <p>Christopher Meiklejohn is a Software Engineer with Basho Technologies, Inc. where he focuses on building rich web applications for Riak using Erlang and JavaScript. Before joining Basho, he worked at Swipely, a loyalty program startup based in Providence where he maintained critical infrastructure components written in Ruby. Christopher is also a graduate student in computer science at Brown University in Providence RI, where he studies formal verification and distributed systems.</p>
    </article>
  </div>
</div>
