<div class="jumbo about">
  <div class="featured row center">
    <h1>Think Distributed</h1>
    <p>
      <%= lorem.paragraph %>
    </p>
  </div>
</div>
<div id="main" role="main" class="center row">
  <div class="team">
    <h3>MEET THE TEAM</h3>
    <article>
      <img class="facepanel" src="images/chris.jpg"/>
      <h1>Christopher Meiklejohn</h1>
      <h2>Founder & Show Host</h2>
      <p>
        <%= lorem.paragraph %>
      </p>
    </article>
  </div>
</div>