<% wrap_layout :layout do %>
  <%= partial "layouts/nav" %>
  <div id="main" role="main" class="center row">
    <article>
      <%= yield %>
    </article>
    <%= partial "layouts/comments" %>
  </div>
  <%= partial "layouts/footer" %>
<% end %>
