<!doctype html>
<html>
  <head>
    <title>Think Distributed: A Distributed Systems Podcast</title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.soundcloud.com/users/50980903-thinkdistributedio/tracks" title="Think Distributed Podcast">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "styles" %>
    <style>
      body {
          font-family: 'EB Garamond', serif;
      }

      .youtube-player { display: block; margin: 0 auto; }

      #container {
        margin: 0px auto;
        width: 700px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Think Distributed: A Distributed Systems Podcast</h1>

      <div id="main" role="main">
        <%= yield %>
      </div>

      <aside>
        <h2>Episodes</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>

        <h3>Subscribe</h3>
        <p>Sign up for our <a href="http://eepurl.com/BK2Ff">mailing
          list</a> or <a
          href="http://feeds.soundcloud.com/users/50980903-thinkdistributedio/tracks">RSS
          audio feed</a> to be notified of new episodes.</p>

        <h3>IRC Channel</h3>
        <p>Join us in #thinkdistributed on Freenode for live
        discussions.</p>

        <h3>License and Copyright</h3>
        <p>The audio and video is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p>
      </aside>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51e07db7613f5d2ea5000007');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
