<!doctype html>
<html>
  <head>
    <title>Think Distributed: A Distributed Systems Podcast</title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.soundcloud.com/users/50980903-thinkdistributedio/tracks" title="Think Distributed Podcast">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "ionicons" %>
  </head>
  <body>
    <div class="center" id="container">
      <%= yield %>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="http://stratus.sc/stratus.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $.stratus({
          align: 'top',
          links: 'http://soundcloud.com/foofighters/sets/wasting-light'
        });
      });
    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51e07db7613f5d2ea5000007');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
